<div id="loginBody" class="secBody">
	<img class="logo" src="assets/icon/logo.png">
	
	<div id="emailDiv" class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-user"></div>
		<input id="emailInpt" type="email" placeholder="UserName" class="inptCls color1" value="">
	</div>	
	<div class="clear vGap15"></div>	
	<div id="passDiv" class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-key"></div>
		<input id="passInpt" type="password" placeholder="Password" class="inptCls color1" value="">
	</div>	
	<div id="rmbrMeCheck" class="checkDiv">
		<div id="rmbrCheck" class="checkBox">
			<div class="fa fa-check checkIcon"></div>
		</div>		
		<div class="bodyTxt">Remember me</div>
	</div>
	<div id="loginBtn" class="divBtn">LOGIN</div>	
	<div id="frgLink" class="link toggleReset">forgot your password?</div>	
	<div class="footerBtn toggleCreate headerBG">CREATE ACCOUNT</div>	
</div>

<div id="resetBody" class="secBody">
	<img class="logo" src="assets/icon/logo.png">
	<div class="subHeaderTxt">Forgot your password?</div>	
	<div class="clear vGap10"></div>
	<div class="cBodyTxt center">Enter your email to rest your password.</div>
	<div class="clear vGap10"></div>	
	<div class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-user"></div>
		<input type="email" placeholder="Email" class="inptCls"/>
	</div>
	<div class="vGap15"></div>
	<div class="divBtn">SUBMIT</div>	
	<div class="link toggleReset">Back to Login</div>	
</div>

<div id="newBody" class="secBody">
	<img class="logo" src="assets/icon/logo.png">
	<div class="subHeaderTxt">Create new account</div>	
	<div class="clear vGap10"></div>
	<div class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-user"></div>
		<input id="newEmailInpt" type="email" placeholder="User" class="inptCls color1" value="">
	</div>	
	<div class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-user"></div>
		<input id="reEmailInpt" type="email" placeholder="Re-type User" class="inptCls color1" value="">
	</div>	
	<div class="clear vGap15"></div>	
	<div class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-key"></div>
		<input id="newPassInpt" type="password" placeholder="Password" class="inptCls color1" value="">
	</div>	
	<div class="inptDiv bgColor4">
		<div class="color2 inputIcon fa fa-key"></div>
		<input id="rePassInpt" type="password" placeholder="Password" class="inptCls color1" value="">
	</div>	
	<div class="checkDiv">
		<div id="termsCheck" class="checkBox">
			<div class="fa fa-check checkIcon"></div>
		</div>		
		<div class="bodyTxt">I agree with BiblioSmart's <u class="toggleTerms">Terms & Conditions</u>.</div>
	</div>
	<div id="createBtn" class="divBtn">CREATE ACCOUNT</div>	
	<div class="link toggleCreate">Back to Login</div>	
</div>

<div id="termsBody" class="secBody">
	<img class="logo" src="assets/icon/logo.png">
	<div class="subHeaderTxt">Terms & Conditions</div>
	<div class="link toggleTerms">Back</div>		
</div>